.reviews__wrapper {
    display: flex;
    gap: 100px;
    align-items: center;
}

.reviews__title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #242424;
    margin-bottom: 20px;
}

.reviews__subtitle {
    font-family: DMSans;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #383738;
    margin-bottom: 40px;
}

.buyer {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}


.reviews {
    margin-bottom: 140px;
}

.reviews__img {
    width: 100%;
    height: 100%;
}

@media (max-width: 992px) {
    .reviews__wrapper {
        flex-direction: column;
        gap: 25px;
        width: 100%;
    }

    .reviews__title {
        text-align: center;
    }

    .reviews__subtitle {
        text-align: center;
    }

    .reviews {
        margin-bottom: 50px;
    }

    .buyer {
        justify-content: center;
    }
}